@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: antiquewhite;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

img {
    width: 150px;
    height: auto;
}

@media (display-mode: minimal-ui) {
    #instalation {
        display: none;
    }
}

@media (display-mode: browser) {
    
}