<!DOCTYPE html>
<html lang="en">

<!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
<%- include('../views/partials/header.ejs') %>

<body>
<script src="/js/content.js"></script>
    <main>

        <section class="platos">
            <img id="imagenReemplazar" src="./images/hotpastrami.jpg">
        </section>

        <br>

        <section class="principal">
            <div class="columna1">
                <div>
                    <p class="motto">El Mejor HOT Pastrami 🔥💯</p>
                </div>

                <br>
                <div class="local">
                    <img src="./images/sandb.jpg" alt="Swartz & Berg">
                </div>



                <div>
                    <p class="dedicacion">"Nuestro pastrami se cura utilizando un método que
                        realza mejor el sabor de la carne, sin inyectar químicos, agua u otros aditivos para acelerar el
                        proceso. Nuestra elección siempre es la calidad."</p>
                </div>

                <br>
            </div>

            <div class="columna2">
                <div class="image-container">
                    <img src="./images/hotpastrami2.jpg" alt="hot pastrami">
                    <img src="./images/varsovia.jpg" alt="compadre burguer">
                    <img src="./images/reuben.jpg" alt="reuben new york">
                </div>
                <br>
                <p class="titulo">Schwartz & Berg Delicatessen</p>
                <br>
                <div class="card">
                    <h2>Elegí de nuestro menú</h2>
                    <br>
                    <h3>¿Qué estás buscando hoy?</h3>
                    <br>
                    <div class="info">

                        <a href="/menu">
                            <div class="info-item">
                                <div class="info-content">
                                    <div class="info-text">
                                        <div class="info-title">Sandwiches</div>
                                        <div class="info-description">Con el sabor único que nos distingue</div>
                                    </div>
                                    <div class="info-image">
                                        <img src="./images/pastrami1.jpg" alt="Imagen 1">
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/menu">
                            <div class="info-item">
                                <div class="info-content">
                                    <div class="info-text">
                                        <div class="info-title">Gourmet</div>
                                        <div class="info-description">Platos con un toque especial</div>
                                    </div>
                                    <div class="info-image">
                                        <img src="./images/vareniques.jpg" alt="Imagen 2">
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/menu">
                            <div class="info-item">
                                <div class="info-content">
                                    <div class="info-text">
                                        <div class="info-title">Postres</div>
                                        <div class="info-description">Los más deliciosos postres</div>
                                    </div>
                                    <div class="info-image">
                                        <img src="./images/chessecake.jpg" alt="Imagen 3" style="text-align: right">
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <br>
                <footer class="footer">
                    <a href="#"><iconify-icon icon="mdi:facebook" class="socialIcon"></iconify-icon></a>
                    <a href="#"><iconify-icon icon="mdi:instagram" class="socialIcon"></iconify-icon></a>
                    <a href="#"><iconify-icon icon="mdi:youtube" class="socialIcon"></iconify-icon></a>
                    <a href="#"><iconify-icon icon="mdi:twitter" class="socialIcon"></iconify-icon></a>

                    <p class="nombre">© 2023 Schwartz & Berg Delicatessen. All rights reserved.</p>
                    <section class="pedidonuevo">
                        <button>Pedir</button>
                    </section>
<br>
<br>
                </footer>

            </div>
        </section>
    </main>

    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>