<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../views/partials/header.ejs') %>
</head>

<body>


    <!-- Aquí comienza el main -->
    <main>


        <section>
            <p class="titulo2 tituloSeccion">¿Qué estás buscando?</p>
            <div class="fotosSB">
                <img src="./images/logogrande.png" alt="Schwartz & Berg">
            </div>
            <div class="historia">

                <p>
                    Esta PWA de Schwartz & Berg es un proyecto educativo (y un homenaje al que fuera el lugar del mejor
                    pastrami de Buenos Aires), así que lamentablemente no podemos enviarte un pedido con comida... :(</p>
                <br>
                <p class="cita" style="text-align:center">
                    Aunque si -igualmente- querés enviarle dinero al programador, te podemos hacer llegar su CBU... :D
                </p>
                <br>
                <img style="border:0" src="/images/gato.png" alt="Schwartz & Berg">
                <br>
            </div>


        </section>

    </main>


</body>