<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../views/partials/header.ejs') %>
</head>

<body>


    <!-- Aquí comienza el main -->
    <main>


        <section>
            <p class="titulo2 tituloSeccion">¿Dónde queda Schwartz & Berg?</p>
            <div class="image-container">
                <img src="./images/puerta.jpg" alt="Schwartz & Berg">
                <img src="./images/interior.jpg" alt="S&B por dentro">
                <img src="./images/homemade.jpg" alt="reuben new york">
            </div>
            <div class="historia">
                <br>
                <p>
                    En Schwartz & Berg cuidamos la calidad de nuestros platos desde su elaboración hasta que llega a tu
                    mesa. Por eso nos ocupamos de selección de cada ingrediente, la elaboración artesanal y el servicio
                    personal y dedicado que vas a recibir en nuestro único
                    salón ubicado en el corazón de Palermo: Fitz Roy 1617, CABA.
                </p>
                <br>
                <div class="center-iframe">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.765696608843!2d-58.4369119!3d-34.584794699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb58da23d0877%3A0xfedc4c0285fe642b!2sFitz%20Roy%201617%2C%20C1414CHW%20CABA!5e0!3m2!1ses!2sar!4v1698008962404!5m2!1ses!2sar"
                        align="center" min-width="320" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <br>
                <p>
                    Schwartz & Berg nace sobre una casona de mediados del siglo XX, reciclada y decorada para lograr una
                    ambientación cálida y confortable. El salón y su terraza de jardines verticales crean un ambiente
                    ideal para atender a los comensales
                    de la mejor manera.
                </p>
                <br>
                <p>
                    En cuanto a los sabores, las recetas fusionan la cocina de Europa central y New York, con los
                    sabores latinos.

                    La especialidad de la casa es el hot pastrami (macerado en especias por siete días, cocinado y
                    ahumado en hornos especiales).
                </p>
                <br>
                <p class="cita">
                    ¡Te esperamos para compartir juntos todos los sabores únicos que
                    tenemos para ofrecerte!
                </p>
                <br>
            </div>


        </section>

    </main>


</body>